---
layout: default
---
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign publications = page.publications | default: 'list' %}

<div id="main" role="main">
  {% include sidebar.html %}
  
  <div class="research__container page">
    <h1>{{ page.title | default: "Research"}}</h1>
    {% if page.description %}
    <p>
      {{ page.description }}
    </p>
    {% endif %}
    
    <div class="projects__container">
      <h2>Projects</h2>
      
      <article class="splash projects__content" itemscope itemtype="https://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
        {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

        <section class="page__content" itemprop="text">
          {{ content }}
        </section>
      </article>
    </div>
    
    {% if publications %}
    <div class="publications__container">
      {% if publications.title %}<h2>{{ publications.title | default: "Publications" }}</h2>{% endif %}
      {% for row in publications.publications_row %}
        <div class="publications__row">
          <i class="fas fa-file"></i>
          <span class="publications__authors">
            {{ row.authors }}
          </span>
          {% if row.url %}
            <a href="https://google.com" target="_blank">
              <span class="publications__title">
                {{ row.title }}
              </span>
            </a>
          {% else %}
            <span class="publications__title">
              {{ row.title }}
            </span>
          {% endif %}
          <span class="publications__media">
            {{ row.media }}
          </span>
          {% if row.links %}
          <div class="publications__buttons">
            <p>
              {% for button in row.links %}
                <a href="{{button.url}}" target="_blank" class="btn btn--primary">
                  {{ button.text }}
                </a>
              {% endfor %}
            </p>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>