.research__container{
  padding-top: 20px;
}
.publications__row{
  font-size: 16px;
}
.publications__authors{
  padding-left: 4px;
}
.publications__title{
  
}
.publications__media{
  font-style: italic; 
}
.publications__buttons{
  font-size: 12px;
}